__pycache__/
cli.tex
cli.py
__init__.py
contents.tex
contents.py
courses.tex
courses.py
course.tex
course.py
users.tex
users.py
assignments.tex
assignments.py
submissions.tex
submissions.py
grade.tex
grade.py
login.py
login.tex
results.py
results.tex
